<% layout('layout/boilerplate') %>
<!-- <h1> <%= campground.title %> </h1>
    <h2> <%= campground.location %> </h2>
    <img src="<%=campground.image%>" alt="">
    <p><%=campground.description%></p>
    <p>
    <a href="/campgrounds/<%= campground._id %>/edit">UPDATE CAMP</a></p>

    <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST"><button>DELETE THE CAMP </button></form>

    <footer>
        <a href="/campgrounds">ALL CAMPGROUNDS</a>
    </footer>
    <br><br> -->
<div class="row">
    <div class="col-8 ">
        <div class="card mb-3">
            <img src="<%=campground.image%>" class="card-img-top" alt="..." width="300px">
            <div class="card-body">
                <h2 class="card-title"> <%= campground.title %></h2>
                <p class="card-text"><%=campground.description%></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><%= campground.location %> </li>
                <li class="list-group-item">$<%= campground.price%> / night </li>
            </ul>
            <div class="card-body">
                <a href="/campgrounds/<%= campground._id %>/edit" class="card-link btn btn-info ">UPDATE </a>
                <form class="d-inline" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">DELETE </button>
                </form>
            </div>
            <div class="card-footer text-muted">
                <a href="/campgrounds"> All campgrounds </a>
            </div>
        </div>


    </div>
    <div class="col-4">
        <h3> Leave a review </h3>
        <form action="/campgrounds/<%=campground._id%>/review" class="form validated-form" method="POST" novalidate>
            <div class="mb-3">
                <label for="rating" class="form-label">Rate the place</label>
                <input type="range" class="form-range" min="1" max="5" name="review[rating]" id="rating">
            </div>
            <div class="mb-3">
                <label for="body" class="form-label">Review</label>
                <textarea name="review[body]" id="body" cols="30" rows="5" class="form-control" required></textarea>
                <div class="valid-feedback">
                    Yep, now its good 😊
                </div>
            </div>
            <div class="mt-1">
                <button class="btn btn-success"> Publish </button>
            </div>
        </form>
        <% for ( let review of campground.reviews ) { %>
        <div class="card m-2 p-2">
            <div class="card-body">
                <h5 class="card-title"> rating : <%= review.rating %> / 5 </h5>
                <p class="card-text"> <%= review.body %> </p>
            </div>
            <div class="m-2">
                <form action="/campgrounds/<%=campground._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                    <button class="btn-sm btn-danger" type="submit">
                        delete reviews
                    </button>
                </form>
            </div>
        </div>
        <% } %>
    </div>
</div>